@model AT_RafaelBrito_BirthdayManager.Models.Person

@{
    ViewData["Title"] = "Details";
}


<h1>Detalhes</h1>
<hr />
<span>Nome: @Html.DisplayFor(modelItem => modelItem.Firstname) @Html.DisplayFor(modelItem => modelItem.Surname)</span>
</br>
<span>Aniversário: @Html.DisplayFor(modelItem => modelItem.Birthday)</span>

<div>
    <a asp-action="Index">Voltar para o Dashboard</a>
</div>